:root{
  background-color: rgb(68, 207, 245);
  }
  
  li{
      padding-bottom: 8px;
      color: rgb(251, 251, 251);
      text-shadow: 1.5px 1px 3px black;
      list-style-type: none;
  }
  
  p{
      color: rgb(0, 0, 0);
      text-shadow: .5px .5px white;
      text-align: center;
      font-size: xx-large;
      font-family: 'Times New Roman', Times, serif;
  
  }
  h2{
      font-family: sans-serif;
      margin-top: -.5rem;
  }
  input{
      text-align: center;
  }
  
  .container {
      width: 100vw;
      height: 100vh;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      max-width: 80rem;
      margin: 0 auto;
    }
  
    button {
      display: inline-flex;
      font-family: 'Times New Roman', Times, serif;
      background-color: #b32df0;
      border-radius: 20px;
      border: 5px double #cccccc;
      color: #eeeeee;
      text-align: center;
      font-size: 25px;
      padding: 45px;
      width: 300px;
      margin-top: 3px;
    }
  
    button:hover{
        box-shadow: 4px 3px 6px #b32df0;
    }
  
  #startpage{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  #timer{
      font-family: 'Times New Roman', Times, serif;
      background-color: #b32df0;
      color: #eeeeee;
      font-size: x-large;
      text-shadow: .5px .5px black;
      text-align: center;
  }
  #quiz {
      display: none;
  }
  
  #result {
      display: none;
  }
  
  #gameover {
      text-align: center;
      display: none;
      flex-direction: column;
      align-items: center;
  }
  
  #highScore{
      height: 1.5rem;
      border: groove 2px;
  }
  
  #high-scorePage{
      display: none;
      width: 65%;
      border: solid;
      border-color: rgb(0, 0, 0);
      border-bottom-style: groove;
      padding-bottom: .2rem;
      background: rgb(251, 43, 216);
  }
  
  #highscore-header{
      display:flex;
      justify-content: space-around;
      border-bottom-style: outset;
      margin-bottom: .5rem;
      background-color: rgb(251, 43, 216);
      color: #eeeeee;
      font-family: 'Times New Roman', Times, serif;
  }
  #highscoreContainer{
      height: 100%;
      width: 100%;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  
  #initials{
      margin: .5rem;
      height: 1.75rem;
  }
  
  #highscore-initials{
      display: inline-block;
      padding-left: 9.5rem;
      font-family: 'Times New Roman', Times, serif;
      font-weight: bold;
  }
  
  #highscore-score{
      float: right;
      padding-right: 8.75rem;
      font-family: 'Times New Roman', Times, serif;
      font-weight: bold;
  }
  
  #finalScore{
      padding-bottom: 0.5rem;
      font-size: x-large;
      font-family: 'Times New Roman', Times, serif;
      font-weight: bold;
  }
  
  #endGameBtns{
      display: none;
  }
